@page "/"
@inject Duck.Client.Service.IService serv
@inject NavigationManager NavigationManager
<link href="css/UserForm.css" rel="stylesheet" />


<EditForm Model="@render" OnValidSubmit="Create">
    <div id="login-box">
        <div class="left">
            <input @bind-value="render.Num" type="text" id="Number" name="text" placeholder="Номер судебного дела" />
            <div id="FormDecision">
                <label>Форма судебного решение</label>
                <InputSelect class="form-control" @bind-Value="render.JusticeCode">
                    <option value="1">Приговор</option>
                    <option value="2">Постановление</option>
                    <option value="3">Решение</option>
                    <option value="4">Cудебный приказ</option>
                    <option value="5">Постановление</option>
                    <option value="6">Отдельное решение</option>
                    <option value="10">Особое мнение</option>
                </InputSelect>
            </div>
            <div id="Form">
                <label>Форма судопроизводства </label>
                <InputSelect class="form-control" @bind-Value="render.JudgmentCode">
                    <option value="1">Гражданское</option>
                    <option value="2">Уголовное</option>
                    <option value="3">Хозяйственное</option>
                    <option value="4">Административное</option>
                    <option value="5">Дела об административных правонарушениях</option>
                </InputSelect>
            </div>
            <div id="Instance">
                <label>Укажите тип инстанции</label>
                <InputSelect class="form-control" @bind-Value="render.Stage">
                    <option value="first">Первая</option>
                    <option value="appeal">Апелляционная</option>
                    <option value="cassation">Кассационная</option>
                </InputSelect>
            </div>
            <input @bind-value="render.Text" id="Search" type="text" name="text" placeholder="Поиск в тексте решения" />
            <input type="submit" name="signup_submit" value="Отправить" />
        </div>
    </div>
</EditForm>

@code {
    Duck.Shared.Render render = new Duck.Shared.Render();
    async Task Create()
    {
        await serv.CreateNewBlogPost(render);
        NavigationManager.NavigateTo("/Result");
    }
}
