@if (isLoaded)
{
    @ChildContent
}
else
{
    <div>Test</div>
}

@code {
    bool isLoaded;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(400); // TODO actual initialization job
        isLoaded = true;
    }
}